body {
	text-align: center;
	font-family: "Raleway", sans-serif;
	margin: 0;
}

h1, h2 {
	color: #0D2C40;
	letter-spacing: 1px;
}

h1 {
	font-weight: 400;
	font-size: 45px;
	margin: 0;
	color: white;
}

.InsGame {
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}

h2 {
	font-weight: 600;
	font-size: 20px;

}

header {
	background-color: #f15b31;
	padding: 30px 20px;
}

nav {
	background-color: #00a6b3;
	padding: 20px 0;
}

a {
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-color: white;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px;
}

.SocialMedia a {
	text-decoration: none;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: 0.8em;
	font-weight: 500;
}

.copyright, .message {
	font-family: 'Raleway', sans-serif;
}
.copyright {
	float: left;
}
.message {
	float:right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: ' ';
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #f15b31;
	font-weight: 700;
}


